<?xml version='1.0' encoding='utf-8'?>
<widget id="online.streamely.www" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Streamely</name>
    <description>A simple app that allows users to stream movies and TV shows for free directly on their Android devices without ads.</description>
    <author email="jericksonmayor@gmail.com">
    elyeandre
    </author>
    <content src="index.html" />
    <allow-navigation href="*"/>
    <allow-intent href="*" />
    <access origin="*" />
  <preference name="AndroidInsecureFileModeEnabled" value="true" />
  <preference name="AndroidBlacklistSecureSocketProtocols" value="SSLv3,TLSv1" />
<feature name="Launcher">
	<param name="android-package" value="com.hutchind.cordova.plugins.launcher.Launcher" />
</feature>
</widget>
